<h3>Editar un Rol</h3>

<div class="col-8">
  <div class="card">
    <div class="card-header">
      Ingrese los datos del rol a Editar.
    </div>
    <div class="card-body">
      <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Rol actualizado con éxito</strong>
        <button (click)="removeMessage()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <form [formGroup]="editRole" (ngSubmit)="UpdateData()">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name">
        </div>

        <button type="submit" class="btn btn-primary" >Actualizar Rol</button>
      </form>
    </div>
  </div>
</div>
